<div class="container " [ngClass]="{'containerNext':!visible}" >
  <div class="  col-sm-6 col-md-4 center shadow mt-2 mb-2 ">
    <h1 class="title">Registration</h1>

    <hr>
    <form>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input  matInput placeholder="Username" >
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="email@example.com">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password" value="">
      </mat-form-field>
    </form>
    <button type="button" class="btn btn-primary m-2">SignUp</button>
    <button type="button"  class="btn btn-link"  (click)="goToLogin()">Login</button>
  </div>
</div>
