@function random_element($elements...) {
  @return nth($elements, random(length($elements)))
}
//COLORS

$colorPrimary: #005b9a;
$colorPrimaryDark: #083a5c;
$colorBackground: #e4e4e4;
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $colorBackground;
}


.center {
  margin-left: auto;
  margin-right: auto;

}
.btn-primary{
  background: $colorPrimary;
  border: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.myShadow{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.57);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.57);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.57);
}
.card-title{
  font-size: 16px;
  font-weight: bold;
}
.siteTitle{
  height: 5rem;
  background: $colorPrimary;
  padding: 2rem;
  div{
    display: inline-block;
    font-size: xx-large;
    color: #e4e4e4;
    width: auto;
    animation: random_element( fadeIn);
    animation-duration: 1s  ;
  }
}
.insideBox {
  background-color: #fff ;
  
  h1{
    color: $colorPrimary;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
