<div class="container " >
    <div class="row  ">
      <div class="siteTitle  col-sm-12 col-md-6  col-lg-6 shadow" ><div>My Courses</div></div>
    </div>
  <div class="row animate ">
    <div class="col-lg-3 col-md-4 col-sm-6 " *ngFor="let course of valami" >
      <div class="card mx-auto myShadow" >
        <img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-pwa-course.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/course" class="btn btn-primary">Start Course</a>
        </div>
      </div>
    </div>

  </div>
  <mat-paginator [length]="1000"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
  class="shadow col-lg-6  col-md-8 center"  >
  </mat-paginator>

</div>
