@import 'src/styles';

:host{
  padding-bottom: 2.5rem;    /* Footer height */;
}
.card{
  margin: 2rem;
  border-bottom: 8px solid $colorPrimary;
  border-radius: 0px;
  animation: flipInY;
  animation-duration: 0.8s;
  

}
.card-img-top{
  object-fit: cover;
  height: 7rem;
}
mat-paginator{
  margin-bottom: 2rem;
  border-radius: 20px;
}

.card:active   {

  animation:none;

}

.editMode :hover{
  cursor: pointer;
    color: $colorPrimary; 
}