<footer class="footer">
  <div class="container p-0">
    <div class="row text-white center">

      <div class="col-md-4 py-3 ">
        <h1 class="display-4">Navigation</h1>
        <ng-container *ngFor="let link of navLinks"  >
        <p class="navSelect" click="navigate"  routerLink={{link.url}} >{{link.name}}</p>
      </ng-container>
   

      </div>
      <div class="col-md-4 py-3">
        <h1 class="display-4">Contacts</h1>
        <p>Phone:</p>
        <p>+36706188846</p>
        <p>E-mail</p>
        <p>mathiasz.m@gmail.com</p>
      </div>
      <div class="col-md-4 py-3">
        <h1 class="display-4">FollowUs</h1>
        <fa-icon [icon]="faTwitter" size="3x"></fa-icon>
        <fa-icon [icon]="faFacebook" size="3x"></fa-icon>
        <fa-icon [icon]="faYoutube" size="3x"></fa-icon>
      </div>

    </div>
    <div class="row text-white center p-5 ">
      <hr />
      <div class="col-12 justify-content-center center  text-center copyright display-4 ">
        ©{{dateNow | date:'y'}} ovm.hu All rights reserved
      </div>

    </div>
  </div>
</footer>
