<div class="container " >
  <div class="row  ">
    <div class="siteTitle  col-sm-12 col-md-6  col-lg-6 shadow" ><div>{{courseName}}</div></div>
  </div>

  <div class="row  py-4">
  <div class="col-md-9 video"  >
    <video width="100%" controls  src="{{selectedVideo.url}} " type="video/mp4" >

      Your browser does not support the video tag.
    </video>
  </div>
  <div class="col-md-3 " >
    <div class="list-group shadow">
      <a  class="list-group-item list-group-item-action" [ngClass]="{'active': selectedVideo.url === video.url}" *ngFor="let video of videos" (click)="selectVideo(video)">{{video.title}}</a>

    </div>
  </div>

</div>
</div>
